@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --light : #dddddd;
    --primary-color:#666;
    --secondary-color:rgb(31, 31, 31);
    --box-shadow:1px 2px 15px 5px rgba(0,0,0,0.66);
}

*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 1rem auto;
}
.logo img{
    max-width: 100px;
}
.links{
    display: flex;
    font-weight: 500;
}
.links li{
    list-style: none;
    margin: 7px;
    text-transform: capitalize;
    font: 600 1.1rem/1 'roboto';
}
.links li a {
    text-decoration: none;
    color: #000;
}
.app{
    color:#fff;
    border-radius: 1rem;
    margin: auto .3rem;
    padding:.3rem .7rem;
    text-transform: capitalize;
    background-color: var(--secondary-color);
    font: 500 15px/1 'roboto';
    cursor: pointer;
}

.hero{
    overflow: hidden;
}

.hero,.application{
    display: flex;
    width: 90%;
    margin: 1.5rem auto;
    justify-content: center;
    align-items: center;
}
.hero .cover img{
    width: 700px;
}

.title{
    font:700 3.5rem/1 'roboto' ;
    text-transform: capitalize;
}
.subtitle{
    margin: 1rem auto;
    font:100 1.2rem/1 'roboto';
    padding: .5rem;
    letter-spacing: 2px;
    color: var(--primary-color);
}
.sub{
    font : 100 1rem/2 'roboto';
    letter-spacing: 1px;
}
.application .cover img{
    width: 550px;
}
.cars{
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto;
    align-items: center;
    text-align: center;
}
.categories{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
}
.cat{
    background-color: var(--light);
    color: var(--secondary-color);
    text-transform: capitalize;
    margin: 5px;
    padding: 7px;
    border-radius: 12px;
}
.cars{
    margin-top: 3.5rem;
}
.cars-show{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.car-show{
    width: 300px;
    margin:.5rem;
    border-radius: 1rem;
    overflow: hidden;
}
.categories .selected{
    background-color: var(--secondary-color);
    color: var(--light);
}
.car-show img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.btn{
    background-color: var(--light);
    color: var(--secondary-color);
    padding:.5rem;
    margin: 1rem .3rem;
    border: 1px solid var(--primary-color);
    border-radius: .7rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
}
.features{
    margin-top: 3.5rem;
    margin: auto;
    width: 90%;
}
.features .cards{
    display: flex;
    margin: 1.5rem auto;
    justify-content: space-between;
}
.features .cards .card{
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid var(--light);
    padding: 1rem;
    border-radius: .7rem;
    margin: .5rem;
}
.features .cards .card .icon{
    height: 55px;
    width: 55px;
    padding: .5rem;
    border-radius: 50%;
    background-color: var(--light);
    font-size: 2rem;
    text-align: center;
}
.info{
    display: flex;
    flex-direction: column;
    width:50%;
    height: 270px;
    padding: 1.7rem;
    border-radius: 1rem;
    margin: 3rem auto;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--light);
    box-shadow: var(--box-shadow);
}
.info .app{
    background-color: var(--light);
    color: var(--secondary-color);
}

footer{
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-around;
}
footer .links{
    display: flex;
    align-items: flex-end;
}
footer .link{
    list-style: none;
    margin: .5rem;

}
footer .link a{
    text-decoration: none;
    color: var(--primary-color);
    text-transform: capitalize;
}
#subscribe{
    position: relative;
    width: 170px;
}
#subscribe input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    background-color: var(--light);
    color: var(--primary-color);
}
.subscribe p{
    padding: 5px;
    text-transform: capitalize;
    letter-spacing: 1.5px;
}
#subscribe button{
    padding: 4px;
    position:absolute;
    right: 3px;
    top: 1px;
    border: none;
    border-left: 1px solid;
}
#menu-btn{
    display: none;
}
#menu-btn i{
    font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
    #menu-btn{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
    nav{
        position: relative;
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
        justify-content: space-evenly;
        height: 0px;
        overflow: hidden;
    }
    nav ul li{
        align-items: start;
        padding: 1rem;
    }
    nav ul li a{
        font-size: 2rem;
    }
    nav .app{
        width: 150px;
        font-size: 1rem;
        margin-left: auto;
    }
    .hero{
        flex-direction: column;
    }
    .hero .cover img{
        width: 500px;
        margin-left: 10rem;
    }
    .features .cards{
        flex-direction: column;
    }
    .info{
        width: 90%;
        margin: auto;
    }
    .info .title{
        font-size: 2rem;
    }
    .application{
        flex-direction: column;
    }
    .application .cover img{
        width: 350px;
    }
    footer{
        flex-direction: column;
        padding: 1rem;
    }
    .menu-active {
        height: 400px;
        animation: shrink 1s ease-in-out;
    }
}
@keyframes shrink{
0%{
    height: 0px
}
100%{
    height: 400px;
}
}