@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --primary-color:#666;
    --secondary-color:rgb(31, 31, 31);
}

*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 1rem auto;
}
.links{
    display: flex;
    font-weight: 500;
}
.links li{
    list-style: none;
    margin: 7px;
    text-transform: capitalize;
    font: 600 1.1rem/1 'roboto';
}
.links li a {
    text-decoration: none;
    color: #000;
}
.app{
    color:#fff;
    border-radius: 13px;
    margin: auto 0;
    padding: 5px;
    text-transform: capitalize;
    background-color: var(--secondary-color);
    font: 500 15px/1 'roboto';
}

.hero,.application{
    display: flex;
    width: 90%;
    margin: 1.5rem auto;
    justify-content: center;
    align-items: center;
}
.hero .cover img{
    width: 700px;
}

.title{
    font:700 3.3rem/1 'roboto' ;
    text-transform: capitalize;
}
.subtitle{
    margin: 1rem auto;
    font:300 .9rem/1 'roboto';
    padding: 5px;
}
.sub{
    font : 100 1rem/2 'roboto';
    letter-spacing: 1px;
}
.application .cover img{
    width: 550px;
}
.cars{
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto;
    align-items: center;
    text-align: center;
}
.categories{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
}
.cat{
    background-color: var(--primary-color);
    color: #fff;
    margin: 5px;
    padding: 7px;
    border-radius: 12px;
}